$primary: #3726A6;
$secundary: #F2E635;
$error: #FF0033;

$purple-dk:#3726A6;
$purple: #4A44F2;
$yellow: #F2E635;
$orange: #F2BE22;
$red: #F20505;

$background-color: #F8F8F8;

$font-color: #000000;
$font-main-botton-color: #FCFCFC;

/*Same colors but from adobe colors, in other formats*/
/* Color Theme Swatches in Hex */
$BeHope-1-hex: #3726A6;
$BeHope-2-hex: #4A44F2;
$BeHope-3-hex: #F2E635;
$BeHope-4-hex: #F2BE22;
$BeHope-5-hex: #F20505;

/* Color Theme Swatches in RGBA */
$BeHope-1-rgba: rgba(55,38,166, 1);
$BeHope-2-rgba: rgba(74,68,242, 1);
$BeHope-3-rgba: rgba(242,230,53, 1);
$BeHope-4-rgba: rgba(242,190,34, 1);
$BeHope-5-rgba: rgba(242,5,5, 1);

/* Color Theme Swatches in HSLA */
$BeHope-1-hsla: hsla(247, 62, 40, 1);
$BeHope-2-hsla: hsla(242, 86, 60, 1);
$BeHope-3-hsla: hsla(56, 87, 57, 1);
$BeHope-4-hsla: hsla(45, 88, 54, 1);
$BeHope-5-hsla: hsla(0, 95, 48, 1);